
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
     integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
     rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
     crossorigin="anonymous">
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">


    <style>
        .card__image{
            background-color: #a78bfa;
        }
    </style>
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>
<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link "  href="/">Home</a>
        <a class="nav-link" href="/listings">All listings</a>
        <a class="nav-link" href="/listings/new">Add new listings</a>
       
      </div>
    </div>
  </div>
</nav>





<!-- From Uiverse.io by SelfMadeSystem --> 

    
    
     <% for(listing of allListings){ %>
        <a href="/listings/<%= listing._id %>">
<div class="card">
  <div class="card__shine"></div>
  <div class="card__glow"></div>
  <div class="card__content">
    <div class="card__badge">NEW</div>
    <div  class="card__image"><img src="<%= listing.image %>" alt=""></div>
    <div class="card__text">
      <p class="card__title"><%= listing.title %></p>
      <p class="card__description"><%= listing.description %></p>
    </div>
    <div class="card__footer">
      <div class="card__price">&#8377;
        <%= listing.price.toLocaleString("en-in") %>/night</div>
      <div class="card__button">
        <svg height="16" width="16" viewBox="0 0 24 24">
          <path
            stroke-width="2"
            stroke="currentColor"
            d="M4 12H20M12 4V20"
            fill="currentColor"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>
</a>
 <%   } %>

 <script src="/js/script.js"></script>
</body>
</html>